/* CSS declarations go here */

body {
  font-family: "Proxima Nova";
  color: #4D4D4D;
/*  background: #F2FAFF;*/
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  padding: 30px;
}

h1 {
  font-size: 1.8em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

h3 {
  font-size: 1.3em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

input {
  font-family: "Proxima Nova";
}

button {
  font-family: "Proxima Nova";
  font-size: 1em;
  padding: 2px;
}

form input[type="text"] {
  font-family: "Proxima Nova";
  padding: 2px;
  font-size: 1em;
  margin-bottom: 15px;
}

form input[type="submit"] {
  font-family: "Proxima Nova";
  padding: 2px;
  font-size: 1em;
}

/*

.reviewForm input {
  font-family: "Proxima Nova";
  padding: 2px;
  font-size: 1em;
  margin-bottom: 15px;
}*/

ul {
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  list-style: none;
}

li .text {
  margin-left: 10px;
}

div .review {
  background: white;
  border: 2px solid #F5F5F5;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.review-title {
  font-size: 1.2em;
  color: #86BEE3;
}

.toggle-private {
  margin-left: 5px;
}