<template name="companies">
  <div class="page-container col-md-8 col-md-offset-2">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Company</th>
          <th>Overall Rating</th>
          <th>Interview Difficulty</th>
          <th>Reviews</th>
        </tr>
      </thead>
      <tbody>
        {{#each companiesList}}
          <tr>
            <td><a href="/company/{{name}}">{{name}}</a></td>
            <td>{{ratingAvg}}</td>
            <td>{{interviewAvg}}</td>
            <td>{{reviews}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>