<template name="nav">
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-2">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><b>InternDB</b> <small>Powered by CORE</small></a>
        </div>
        <div class="navbar-right col-md-6">
            <ul class="nav navbar-nav">
              <li><a href="/companies">Companies <span class="sr-only">(current)</span></a></li>
              <li><a href="/about">About</a></li>
              <li><button class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#submit-review">Submit a review</button></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  </nav>
  {{> reviewModal}}
</template>